
            [core]
                    excludesFile = ~/.gitignore
                    quotepath = off
                    checkStat = minimal
            [pull]
                    rebase = false
            [user]
                    name = Tolga Ünlü
                    email = tolgauedev@gmail.com
            [credential]
                    helper = "!f() { echo \"username=$(cat /psb/tokens/.github)\npassword=\"; }; f"
        